/* CSS Reset */
body,
p {
  margin: unset;
}

h1,
h2,
h3 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}

a {
  text-decoration: none;
  color: unset;
  outline: none;
}

button {
  all: unset;
  cursor: pointer;
}

/* CSS Typography */
:root {
  font-size: 10px;
}

/* Commons */
.ir {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* Components */
#root {
  min-height: 100vh;
}
